<?xml version="1.0"?>
<robot name="mesh_0">
  <link name="mesh_0_link">
    <visual>
      <geometry>
        <mesh filename="file:////media/pavan/STORAGE/linux_home/newpcd/4.obj" scale="1 1 1"/>
      </geometry>
      <material name="material_name">
        <color rgba="0.8 0.8 0 0.8"/>  <!-- Example: Red color (R, G, B, A) -->
      </material>
    </visual>
    <collision>
      <geometry>
        <mesh filename="file:////media/pavan/STORAGE/linux_home/newpcd/4.obj" scale="1 1 1"/>
      </geometry>
    </collision>
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1"/>
      <inertia ixx="0.01" ixy="0.0" ixz="0.0" iyy="0.01" iyz="0.0" izz="0.01"/>
    </inertial>
  </link>
</robot>

